﻿@model CafeIndexModel

<table class="table">
    <tbody>
        @foreach (var item in Model.Caves)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Images)
                </td>
                <td>
                    <a asp-action="Details" asp-route-cafeId="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
            </tr>
            <tr>
                <td id="likesCount-@item.Id">
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <input type="button" cafeId="@item.Id" class="btn-primary" value="Like" />
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PagingModel.HasPreviousPage)
{
    @Html.ActionLink("<< Back", "Index", "Cafe",
        new CafeIndexModel()
        {
            Title = Model.Title,
            SearchKey = Model.SearchKey,
            Page = Model.Page - 1
        })
}

<b>@Model.Page</b>

@if (Model.PagingModel.HasNextPage)
{
    @Html.ActionLink("Forword >>", "Index", "Cafe",
        new CafeIndexModel()
        {
            Title = Model.Title,
            SearchKey = Model.SearchKey,
            Page = Model.Page + 1
        })
}