﻿@model Final.Models.CafeModel
@using Final.DAL.Entities

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробно о @Model.Name</h1>

<div>
    <h4>CafeModel</h4>
    <hr />
    @switch (Model.CafeImageType)
    {
        case CafeImageType.Db:
            if (Model.Image != null && Model.Image.Length > 0)
            {
                <img style="width: 50%; height: 50%" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
            }
            break;
        case CafeImageType.Disk:
            if (!string.IsNullOrWhiteSpace(Model.ImagePath))
            {
                <img style="width: 50%; height: 50%" src="@Url.Content(Model.ImagePath)" />
            }
            break;
    }

    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CafeImageType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CafeImageType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>

    <table id="commentsTable" class="table">
        <tbody>
            @foreach (var item in Model.Reviews)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="gallery">
    @foreach (var galleryImage in Model.Images)
    {
        if (galleryImage.Image != null && galleryImage.Image.Length > 0)
        {
            <img style="width: 20%; height: 20%" src="data:image/jpeg;base64,@(Convert.ToBase64String(galleryImage.Image))" />
        }
    }
</div>
    <div>
        <div><input type="button" id="addComment" class="btn-primary" value="Comment" /></div>
        <div id="commentForm" style="display: none">
            <div><textarea id="commentText" class="form-control"></textarea></div>
            <div><input type="button" id="sendComment" class="btn-primary" value="Send" /></div>
        </div>
        <br />

        
        <a asp-action="Index">Back to List</a>
    </div>
    @{
        var addGalleryImageModel = new AddGalleryImageModel()
        {
            CafeId = Model.Id
        };
    }
    <partial name="_GalleryImagePartial" model="@addGalleryImageModel" />
    @section Scripts
    {
        <script>

        $('#addComment').click(function () {
            $('#commentForm').val('');
            $('#commentForm').show();
            $('#addComment').hide();
    });

        $('#sendComment').click(function () {

        var comment = $('#commentText').val();
        var cafeId = '@Model.Id';
            $.ajax({
        url: '@Url.Action("AddComment", "Cafe")',
                method: 'POST',
                data: { 'comment': comment, 'cafeId': cafeId },
                dataType: 'JSON',
                error: function (data) {
                console.log(data);
                alert('Error ' + data.status + "\n" + data.responseText);
            },
                success: function (data) {
                    $('#commentForm').hide();
                    $('#addComment').show();
                var authorCell = "<td>" + data.authorName + "</td>";
                var createdOnCell = "<td>" + data.createdOn + "</td>";
                var content = "<td colspan='2'>" + data.content + "</td>";
                var newRow = "<tr>" + authorCell + createdOnCell + "</tr>" + "<tr>" + content + "</tr>";
                    $('#commentsTable tbody').append(newRow);
            }
        });
        });

    
        $('#uploadImages').on('click', function () {
            var files = document.getElementById('uploadFile').files;
            if (files.length > 0) {
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append("file" + i, files[i]);
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UploadAjax", "Cafe")' + '/?cafeId=' + $('#cafeId').val(),
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            var img = '<img style="width: 20%; height: 20%" src="data:image/jpeg;base64,' +
                                data[i].image +
                                '"/>';
                            $('#gallery').append(img);
                        }
                    },
                    error: function(data) {
                        alert(data);
                    }
                });
            }
        })

        </script>
    }
